<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
        
        <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis assumenda aspernatur dicta repellat ex accusamus eligendi sed, consequatur laboriosam a! Dicta veritatis possimus facere cum nam aut aliquam ullam hic.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, voluptates alias provident blanditiis accusamus culpa sed quos a esse architecto!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae, blanditiis!</p>
        
        </div>

        <%- include('./partials/footer.ejs') %>
</body>
</html>